// Navigation Styles here
header {
  max-width: 800px;
  width: 100%;
  margin: 1.2% auto 0 auto;
  .flex(space-between, center);

  @media @tablet {
    h2 {
      display: none;
    }

    .navbar {
      justify-content: space-around;
      width: 100%;
    }
  }

  @media @phone {
    flex-direction: column;

    h2 {
      display: block;
    }

    .navbar {
      justify-content: space-between;
      width: 80%;
    }
  }

  nav {
    .flex(space-around, center);
    width: 40%;

    a {
      font-size: 1.5rem;
      color: @font-color;
      position: relative;
      text-transform: uppercase;
      text-decoration: none;
      padding-bottom: 8px;

      &:before,
      &:after {
        content: "";
        position: absolute;
        bottom: 2px;
        left: 0;
        right: 0;
        height: 2px;
        background-color: @button-bg;
      }
      &:before {
        .hoverAnimation(0, -8px, 0, ease-out);
      }
      &:after {
        .hoverAnimation(0, 4px, 0.2s, ease-out);
      }
      &:hover,
      &:focus {
        &:before {
          .hoverAnimation(1, 0, 0.2s, ease-out);
        }
        &:after {
          .hoverAnimation(1, 0, 02s, ease-out);
          transition: transform 0s 0.2s ease-out, opacity 0s 0.2s;
        }
      }
    }
  }
}
